body {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  max-width: 50em;
  margin: auto;
  color: #e780a3;
  border: 5px solid; 
  text-align: center;
  box-shadow: 5px 5px #333;
  padding: 10px;
  background-image: url("https://images.unsplash.com/photo-1504333638930-c8787321eee0?ixlib=rb-1.2.1&auto=format&fit=crop&w=1050&q=80");
  background-size: cover;
}

img {
  height: 150px;
  border-radius: 100px;
}

html {
  margin: 16px;
}

.social a {
text-decoration: none;
color: #e780a3;
margin: 8px;
}

.social a:hover {
  opacity: .8;
}

.introbox {
  background: rgba(7, 73, 64, 0.253);
}